<section class="signin">
  <div class="container">
    <div class="logoDv">
      <figure>
        <a routerLink="/"><img src="../../assets/img/trading-logo.png" alt=""></a>
      </figure>
    </div>
    <div class="SigninBox">
      <div class="head">
        <h4>Welcome Back to Trading Centre LTD</h4>
        <h4><strong>Where we provide Best Products</strong></h4>
      </div>
      <div class="actionBtn">
        <p>New Password</p>
      </div>
      <form (submit)="newPasswordHandler()">
        <div class="form-group">
          <!-- <input type="password" id="password" class="form-control" placeholder="New Password" [(ngModel)]="newPassword" required> -->
        </div>
        <div class="form-group">
          <!-- <input type="password" id="repassword" class="form-control" placeholder="Re-enter New Password"
            [(ngModel)]="reNewPassword" required> -->
        </div>
        <button type="submit" [disabled]="loading">
          {{ loading ? 'Loading..' : 'Submit' }}
        </button>
      </form>
      <div class="actionBtn2">
        <p>By Creating Account you are agree to our <a routerLink="/termcondition">Terms & conditions</a></p>
        <p><a routerLink="/">Back To Home</a></p>
      </div>
    </div>
  </div>
</section>