<div class="notification_page">
  <div class="container">
    <div class="notification_card">
      <!-- <div *ngFor="let notification of notifications; let index = index"
           class="notification_content"
           [ngClass]="{'active': notification.read === 0}"
           (click)="handleClickNotification(notification.id)">
        <div class="notication_img">
          <img class="img-fluid" src="assets/img/notificationimg.png" alt="Notification Image">
          <p>{{ notification.title }}</p>
        </div>
        <div class="notification_para">
          <p>{{ notification.description }}</p>
          <span>1 Nov 10:30 am | 2022</span>
        </div>
      </div> -->
    </div>
  </div>
</div>