<div class="sellerproddetail_page sellereditdetail">
  <!-- <app-seller-header></app-seller-header> -->
  <div class="container-fluid">
    <div class="sellerproddetail_sec">
      <div class="seller_heading">
        <h2>Seller Profile</h2>
      </div>
      <div class="row">
        <div class="col-md-3">
          <!-- <app-seller-side-bar></app-seller-side-bar> -->
        </div>
        <div class="col-md-9">
          <!-- <app-all-reviews
            [refreshReviews]="refreshReviews.bind(this)"
            [seller]="true"
            [productReview]="productReview"
            [ParamData]="paramData"
            [handlePageClick]="handlePageClick.bind(this)"
            [pageCount]="pageCount">
          </app-all-reviews> -->
        </div>
      </div>
    </div>
  </div>
</div>