<div class="All_PRODUCT_PAGE">
  <ng-container *ngIf="!loader; else loaderTemplate">
    <img src="../../../assets/img/img-left.png" class="img-tls" alt="" />
    <!-- <app-header (setChecked)="setChecked($event)"></app-header> -->

    <section class="banner universal-banner">
      <div class="container">
        <div class="breadcrumbs">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a routerLink="/">Home</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                All Product Page
              </li>
            </ol>
          </nav>
        </div>
        <div *ngIf="bannerData?.length >= 0" class="Banner">
          <div class="banner-box">
            <figure>
              <img [src]="bannerData[0]?.banner_image_url" alt="" />
            </figure>
          </div>
          <div class="contentDv">
            <div class="contentFlex">
              <p class="font-25">{{ bannerData[0]?.sub_title }}</p>
              <h3 class="fw-600 font-80 line-height-50 subtitle">{{ bannerData[0]?.title }}</h3>
              <p>{{ bannerData[0]?.description }}</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div class="container">
      <div class="row pb-4">
        <div class="col-md-6">
          <h5 class="sub-heading fw-600 font-20">Some Best Products</h5>
        </div>
      </div>
      <div class="regular">
        <!-- <slick-carousel [config]="regularSlider">
          <div *ngFor="let item of topProductsRedux; let index = index">
            <app-cards [index]="index" [item]="item"></app-cards>
          </div>
        </slick-carousel> -->
      </div>
    </div>

    <section class="hotdeals">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <div class="filters">
              <div class="filters-head filter-border py-2">
                <h3 class="font-35 text-black">Apply Filters</h3>
              </div>
              <div class="categories">
                <div class="head py-3">
                  <h4 class="font-25">Categories</h4>
                </div>

                <div id="accordion">
                  <!-- <app-mui-accordian *ngFor="let item of categories; let index = index"
                                      [item]="item"
                                      [index]="index"
                                      (handleSelectCategory)="handleSelectCategory($event)"
                                      (handleSelectCate)="handleSelectCate($event)"
                                      [checked]="checked"
                                      [cateId]="cateId">
                  </app-mui-accordian> -->
                </div>
              </div>

              <!-- <app-price-range [setStartPrice]="setStartPrice"
                               [startPrice]="startPrice"
                               [setEndPrice]="setEndPrice"
                               [endPrice]="endPrice"
                               (PriceFilterHandler)="PriceFilterHandler($event)">
              </app-price-range> -->
              <!-- <app-brand-filter [BrandsDataRedux]="BrandsDataRedux"
                                (handleSelectCategory)="handleSelectCategory($event)"
                                (handleSelectBrand)="handleSelectBrand($event)"
                                [brandId]="brandId">
              </app-brand-filter> -->
            </div>
          </div>

          <div class="col-md-9">
            <div class="topBar">
              <div class="heading">
                <!-- <h2 class="font-60">{{ cateData?.name }}</h2> -->
              </div>
              <div class="sort-btn">
                <!-- <button class="font-20" (click)="HIghLowFunc('high_to_low')" *ngIf="!highToLow || highToLow === 'low_to_high'">
                  Sort By: High To low
                </button> -->
                <!-- <button class="font-20 ml-3" (click)="HIghLowFunc('low_to_high')" *ngIf="highToLow === 'high_to_low'">
                  Sort By: Low To High
                </button> -->
              </div>
            </div>

            <div class="row">
              <div *ngIf="spinLoad" class="loader-container">
                <!-- <spinner-circular size="80px" color="#8dc63e"></spinner-circular> -->
              </div>
              <ng-container *ngIf="!spinLoad">
                <ng-container *ngIf="productsData?.length > 0; else noProductsTemplate">
                  <div *ngFor="let item of productsData.slice(0, 3); let index = index" class="col-md-4 pt-2">
                    <!-- <app-products [item]="item" [index]="index"></app-products> -->
                  </div>
                </ng-container>
              </ng-container>
            </div>

            <div class="row">
              <div *ngIf="spinLoad" class="loader-container">
                <!-- <spinner-circular size="80px" color="#8dc63e"></spinner-circular> -->
              </div>
              <ng-container *ngIf="!spinLoad">
                <div *ngFor="let item of productsData?.slice(3); let index = index" class="col-md-4 pt-2 my-3">
                  <!-- <app-products [item]="item" [index]="index"></app-products> -->
                </div>
              </ng-container>
            </div>

            <div class="pagination-container mt-5 d-flex flex-row w-100 justify-content-between">
              <!-- <p *ngIf="PreDataUrl" class="btn btn-light bt-nxt-allprodcts" (click)="HandlePre()">Previous Page</p> -->
              <!-- <p *ngIf="NextDataUrl" class="btn btn-light bt-nxt-allprodcts" (click)="HandleNext()">Next Page</p> -->
            </div>

            <div class="box py-4 mb-3 mt-5">
              <!-- <img [src]="AdsData[0]?.image_url" class="img-fluid cursor_pointer" alt="" (click)="openAdLink(AdsData[0]?.url)" /> -->
              <div class="bottom-left">
                <p class="btnbl text-black font-12 d-flex gap-2 align-items-center" tabindex="-1">
                  {{ AdsData[0]?.button_name }}
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 30 30">
                    <g id="Group_4119" data-name="Group 4119" transform="translate(-336 -1971)">
                      <g id="Group_47" data-name="Group 47" transform="translate(-5 2)">
                        <g id="Ellipse_5" data-name="Ellipse 5" transform="translate(341 1969)" fill="none"
                          stroke="#000" stroke-width="1">
                          <circle cx="15" cy="15" r="15" stroke="none"></circle>
                          <circle cx="15" cy="15" r="14.5" fill="none"></circle>
                        </g>
                        <path id="Icon_awesome-arrow-right" data-name="Icon awesome-arrow-right"
                          d="M.187,3.154l.385-.385a.414.414,0,0,1,.587,0L4.527,6.136a.414.414,0,0,1,0,.587L1.159,10.091a.414.414,0,0,1-.587,0L.187,9.706a.416.416,0,0,1,.007-.594L2.281,7.123H-9.584A.415.415,0,0,1-10,6.707V6.153a.415.415,0,0,1,.416-.416H2.281L.194,3.748A.413.413,0,0,1,.187,3.154Z"
                          transform="translate(358.94 1977.355)" fill="#000"></path>
                      </g>
                    </g>
                  </svg>
                </p>
              </div>
              <div class="m-centered">
                <p class="text-black line-height-1 font-25">{{ AdsData[0]?.title }}</p>
                <h2 class="text-black line-height-1 font-35">{{ AdsData[0]?.sub_title }}</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- <app-footer></app-footer> -->
  </ng-container>
  <ng-template #loaderTemplate>
    <!-- <app-loader></app-loader> -->
  </ng-template>
</div>