<div class="container newsletter-back">
  <div class="row">
    <div class="col-md-6">
      <div>
        <h2 class="fw-700 text-white">Newsletter</h2>
        <p class="text-white">
          Subscribe to our Newsletter to get <br />
          our Latest Updates.
        </p>
      </div>
    </div>
    <div class="col-md-6">
      <div>
        <form class="newsletter">
          <div class="form-group">
            <input type="email" class="form-control" id="inputEmail" placeholder="Your Email Here*"
              [(ngModel)]="email" />
          </div>
          <div class="form-group">
            <button class="btn btn-primary btn-block" type="button" (click)="NewsLetterHandler()" [disabled]="loading">
              {{ loading ? 'Loading..' : 'Submit' }}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<footer class="footer pb-5 cover-banner">
  <div class="container">
    <div class="row pb-3">
      <div class="col-md-3 logo-m widgets2">
        <img [src]="companyInfoRedux.footer_logo" width="150" class="img-fluid pb-3" alt="" />
        <p class="text-white">{{ companyInfoRedux.footer_text }}</p>
        <p class="text-white">
          <i class="fa fa-map-marker"></i> London, UK 441
        </p>
        <p class="text-white">
          <i class="fa fa-phone"></i> Phone: {{ companyInfoRedux.phone }}
        </p>
        <p class="text-white">
          <i class="fa fa-envelope"></i> Email: {{ companyInfoRedux.email }}
        </p>

        <ul class="social-media-list">
          <li *ngFor="let item of socialMediaData">
            <a [href]="item.link" target="_blank">
              <i [class]="item.icon"></i>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-3 widgets2">
        <h4 class="pb-3 text-white border-bottom">recent news</h4>
        <ng-container *ngFor="let item of newsData; let index = index">
          <p *ngIf="index < 3" class="pt-4">
            <a class="text-white">
              <b>{{ item.title }}</b>
              <br />
              <i class="fa fa-clock-o yellow"></i> <span class="font-12 text-gry">{{ formatDate(item.updated_at)
                }}</span>
            </a>
          </p>
        </ng-container>
      </div>
      <div class="col-md-3 widgets2">
        <h4 class="pb-3 text-white border-bottom">extra links</h4>
        <div class="d-flex">
          <ul class="mt-4">
            <li>
              <a routerLink="/Hotdeals">Hot Deals</a>
            </li>
            <li>
              <a routerLink="/faqs">FAQ's</a>
            </li>
            <li>
              <a routerLink="/Contact">Contact Us</a>
            </li>
          </ul>
          <ul class="mt-4 pl-5">
            <li>
              <a routerLink="/allproducts">Products</a>
            </li>
            <li>
              <a routerLink="/Delivery">Delivery Information</a>
            </li>
            <li>
              <a routerLink="/blog">Blogs</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 widgets2">
        <h4 class="pb-3 text-white border-bottom">extra links</h4>
        <div class="d-flex"></div>
        <ul class="mt-4 pl-5">
          <li>
            <a routerLink="/termsandcondition">Terms And Condition</a>
          </li>
          <li>
            <a routerLink="/privacypolicy">Privacy Policy</a>
          </li>
          <li>
            <a routerLink="/cookiepolicy">Cookie Policy</a>
          </li>
          <li>
            <a routerLink="/refundpolicy">Refund Policy</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row border-top justify-content-center">
      <div class="col-md-8 pt-5">
        <img [src]="companyInfoRedux.footer_logo" width="150" class="pl-2 img-fluid" alt="" />
        <!-- <img [src]="post2" width="150" class="pl-2 img-fluid" alt="" />
        <img [src]="post3" width="150" class="pl-2 img-fluid" alt="" />
        <img [src]="post4" width="150" class="pl-2 img-fluid" alt="" /> -->
      </div>
      <div class="col-md-4 pt-5">
        <p class="text-white">
          On Sale 70% DisCount <br />
          Best Products of the Month
        </p>
      </div>
    </div>
  </div>
</footer>

<div class="container-fluid footer-copyright">
  <div class="container text-center">
    <div class="row">
      <div class="col-md-12">
        <p class="copyright">
          {{ companyInfoRedux.copyright_text }}
          <!-- © {{ new Date().getFullYear() }} Trading Centre LTD. All Right -->
        </p>
      </div>
    </div>
  </div>
</div>