<div class="proddetail_sec">
  <div class="setchanges_dv">
    <h5>Product price & stock</h5>
    <div class="proddetialname">
      <h6 class="prodtitle">Unit Price</h6>
      <!-- <input type="number" class="form-control" [(ngModel)]="form.value.unit_price" (input)="handleUnitPrice($event)"> -->
    </div>
    <div class="proddetialname">
      <h6 class="prodtitle">Purchase Price</h6>
      <!-- <input type="number" class="form-control" [(ngModel)]="form.value.purchase_price"> -->
    </div>
    <div class="proddetialname">
      <h6 class="prodtitle">Tax</h6>
      <!-- <input type="number" class="form-control" [(ngModel)]="form.value.tax"> -->
      <!-- <select class="form-control" [(ngModel)]="form.value.tax_type"> -->
      <!-- <option *ngFor="let option of discountOption" [value]="option.value">{{ option.label }}</option> -->
      <!-- </select> -->
    </div>
    <div class="proddetialname">
      <h6 class="prodtitle">Discount</h6>
      <!-- <input type="number" class="form-control" [(ngModel)]="form.value.discount"> -->
      <!-- <select class="form-control" [(ngModel)]="form.value.discount_type"> -->
      <!-- <option *ngFor="let option of discountOption" [value]="option.value">{{ option.label }}</option> -->
      <!-- </select> -->
    </div>
    <!-- <app-variation-list [variations]="variations" [formVariation]="selectedVariation" (handleChange)="handleVariationPriceAndQty($event, $event.index, $event.column)"></app-variation-list> -->
    <div class="proddetialname">
      <h6 class="prodtitle">Total quantity</h6>
      <!-- <input type="number" class="form-control" [(ngModel)]="currentStocks"> -->
    </div>
  </div>
</div>