<h2 class="font-40 fw-600 text-center pb-5">Payment Details</h2>
<div class="row">
  <div class="col-md-7">
    <div class="setpper-step-container">
      <div class="paymentInfo">
        <div class="head">
          <h4 class="font-20 fw-600">Enter Your Payment Details</h4>
        </div>
        <!-- <app-stripe-form
          [StepTwoContinue]="StepTwoContinue"
          [handleNext]="handleNext"
          [setCardToken]="setCardToken"
          [cardToken]="cardToken"
        ></app-stripe-form> -->
      </div>
    </div>
  </div>
  <!-- <app-order-summary [CheckOutData]="CheckOutData"></app-order-summary> -->
</div>