<div *ngIf="load">
  <!-- <app-loader></app-loader> -->
</div>
<div *ngIf="!load">
  <!-- <app-header></app-header> -->
  <section class="blog-detail">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div class="blog_box">
            <div class="blog_img">
              <figure>
                <!-- <img [src]="(Singleblog$ | async)?.image" alt="" /> -->
              </figure>
            </div>
            <div class="blog-content">
              <div class="blog-header">
                <p>
                  <i class="fa fa-calendar" aria-hidden="true"></i>
                  <!-- {{ (Singleblog$ | async)?.created_at?.split(' ')[0] }} -->
                </p>
                <p>
                  <i class="fa fa-clock-o" aria-hidden="true"></i> 01:23:16 PM
                </p>
              </div>
              <!-- <p class="fw-400" [innerHTML]="(Singleblog$ | async)?.content"></p> -->
              <div class="button-group">
                <button class="sabButton" (click)="navigateBack()">
                  <i class="fa fa-angle-left" aria-hidden="true"></i> Back to Blog
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="recent-blog">
            <div class="heading">
              <h3>Recent Posts</h3>
            </div>
            <div class="recent-box">
              <!-- Recent posts section -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- <app-footer></app-footer> -->
</div>