<div class="col-md-5 setpper-step-container">
  <div class="OrderSummary">
    <div class="headingg">
      <h3 class="font-25 pb-3">Order Summary</h3>
    </div>
    <div class="order_info">
      <div class="itemTotal order-flex">
        <div class="property">
          <h5 class="fw-500">Item Total:</h5>
        </div>
        <div class="value">
          <!-- <h5 class="fw-300">£{{ CheckOutData?.subTotal | number: '1.2-2' }}</h5> -->
        </div>
      </div>
      <div class="shipmentDelivery order-flex">
        <div class="property">
          <h5 class="fw-500">Shipment & Delivery:</h5>
        </div>
        <div class="value">
          <h5 class="fw-300">£0</h5>
        </div>
      </div>
      <div class="promoApplied order-flex">
        <div class="property">
          <h5 class="fw-500">Promo Applied:</h5>
        </div>
        <div class="value">
          <!-- <h5 class="fw-300">£{{ CheckOutData?.couponData?.discount ? CheckOutData.couponData.discount | number: '1.2-2' : '0.00' }}</h5> -->
        </div>
      </div>
    </div>
    <div class="orderTotal">
      <div class="property">
        <h5 class="fw-700">Order Total</h5>
      </div>
      <div class="value">
        <!-- <h5 class="fw-400">£{{ CheckOutData?.total | number: '1.2-2' }}</h5> -->
      </div>
    </div>
  </div>
</div>