<!-- <app-seller-header></app-seller-header> -->

<div class="seller_prodinv_page profileinfo_page">
  <div class="container-fluid">
    <div class="seller_prodinv_sec">
      <div>
        <h2>Seller Profile</h2>
      </div>
      <div class="row">
        <div class="col-md-3">
          <!-- <app-seller-side-bar></app-seller-side-bar> -->
        </div>
        <div class="col-md-9">
          <div class="totalcard">
            <!-- <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()"> -->
            <div class="form-head">
              <div class="seller_head">
                <div>
                  <h3>Change Password</h3>
                </div>
              </div>
            </div>
            <div class="row d-flex flex-column">
              <div class="col-md-6">
                <!-- <div class="form-group" [ngClass]="{ 'has-error': changePasswordForm.get('old_password').invalid && changePasswordForm.get('old_password').touched }">
                    <input formControlName="old_password" type="password" class="form-control" id="inputOldPassword" placeholder="Enter Old Password" />
                    <div *ngIf="changePasswordForm.get('old_password').invalid && changePasswordForm.get('old_password').touched" class="error">Required</div>
                  </div> -->
              </div>
              <div class="col-md-6">
                <!-- <div class="form-group" [ngClass]="{ 'has-error': changePasswordForm.get('password').invalid && changePasswordForm.get('password').touched }">
                    <input formControlName="password" type="password" class="form-control" id="inputPassword" placeholder="Create New Password" />
                    <div *ngIf="changePasswordForm.get('password').invalid && changePasswordForm.get('password').touched" class="error">Required</div>
                  </div> -->
              </div>
              <div class="col-md-6">
                <!-- <div class="form-group" [ngClass]="{ 'has-error': changePasswordForm.get('confirm_password').invalid && changePasswordForm.get('confirm_password').touched }">
                    <input formControlName="confirm_password" type="password" class="form-control" id="inputCPassword" placeholder="Confirm Password" />
                    <div *ngIf="changePasswordForm.get('confirm_password').invalid && changePasswordForm.get('confirm_password').touched" class="error">Passwords must match</div>
                  </div> -->
              </div>
            </div>
            <div class="button-group">
              <button type="submit" class="sellerpbtn" [disabled]="btnLoading">{{ btnLoading ? 'Loading..' : 'Save'
                }}</button>
            </div>
            <!-- </form> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <app-seller-footer></app-seller-footer> -->