<!-- <app-seller-header></app-seller-header> -->

<div class="sellerproddetail_page sellereditdetail">
  <div class="container-fluid">
    <div class="sellerproddetail_sec">
      <div class="seller_heading">
        <h2>Seller Profile</h2>
      </div>
      <div class="row">
        <div class="col-md-3">
          <!-- <app-seller-side-bar></app-seller-side-bar> -->
        </div>
        <div class="col-md-9">
          <div class="proddetail_sec">
            <div class="proddetail_head">
              <h3>Edit-Product Detail</h3>
            </div>
            <div class="prodimg_sec">
              <p>Product Image</p>
              <img src="../../../assets/img/sellerphone.png" alt="" class="img-fluid" />
            </div>
            <div class="order-table-wrapper table-responsive">
              <table class="table">
                <tbody>
                  <tr class="row2">
                    <td>
                      <h6 class="prodtitle">Product Title</h6>
                    </td>
                    <td>
                      <div class="form-group">
                        <input class="form-control" type="text" id="fname" name="fname" placeholder="Samsung X" />
                      </div>
                    </td>
                  </tr>
                  <tr class="row2">
                    <td>
                      <h6 class="prodtitle">Category</h6>
                    </td>
                    <td>
                      <div class="form-group">
                        <select class="form-control" id="exampleFormControlSelect1">
                          <option>Electronic</option>
                          <option>Electronic</option>
                          <option>Electronic</option>
                        </select>
                      </div>
                    </td>
                  </tr>
                  <tr class="row2">
                    <td>
                      <h6 class="prodtitle">Sub Category</h6>
                    </td>
                    <td>
                      <div class="form-group">
                        <select class="form-control" id="exampleFormControlSelect1">
                          <option>Mobile</option>
                          <option>Mobile</option>
                          <option>Mobile</option>
                        </select>
                      </div>
                    </td>
                  </tr>
                  <tr class="row2">
                    <td>
                      <h6 class="prodtitle">Price</h6>
                    </td>
                    <td>
                      <div class="form-group">
                        <input class="form-control" type="text" id="fname" name="fname" placeholder="$700.0" />
                      </div>
                    </td>
                  </tr>
                  <tr class="row2">
                    <td>
                      <h6 class="prodtitle">Stock Quantity</h6>
                    </td>
                    <td>
                      <div class="form-group">
                        <input class="form-control" type="text" id="fname" name="fname" placeholder="Update Stock" />
                      </div>
                    </td>
                    <td>
                      <p class="proddesc reddesc">12 Remaining from 100</p>
                    </td>
                  </tr>
                  <tr class="row2">
                    <td>
                      <h6 class="prodtitle">Discount</h6>
                    </td>
                    <td>
                      <div class="form-group">
                        <select class="form-control" id="exampleFormControlSelect1">
                          <option>No Deal Applied</option>
                          <option>No Deal Applied</option>
                          <option>No Deal Applied</option>
                        </select>
                      </div>
                    </td>
                  </tr>
                  <tr class="row2">
                    <td>
                      <h6 class="prodtitle">Color Family</h6>
                    </td>
                    <td>
                      <div class="form-group">
                        <select class="form-control" id="exampleFormControlSelect1">
                          <option>Multicolor</option>
                          <option>Multicolor</option>
                          <option>Multicolor</option>
                        </select>
                      </div>
                    </td>
                    <td>
                      <div class="color_family_dv">
                        <img src="../../../assets/img/sellerphone.png" class="img-fluid" alt="" />
                        <img src="../../../assets/img/sellerphone.png" class="img-fluid" alt="" />
                        <img src="../../../assets/img/sellerphone.png" class="img-fluid" alt="" />
                      </div>
                    </td>
                    <td>
                      <div class="colorfamilydesc">
                        <i class="fa fa-plus"></i>
                        <span>You can upload 8 images max</span>
                      </div>
                    </td>
                  </tr>
                  <tr class="row2">
                    <td>
                      <h6 class="prodtitle">Product SKU</h6>
                    </td>
                    <td>
                      <div class="form-group">
                        <input class="form-control" type="text" id="fname" name="fname" placeholder="SX1234" />
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="proddetail_sec">
            <div class="setchanges_dv">
              <h5>Set Delivery Charges</h5>
              <div class="proddetialname">
                <h6 class="prodtitle">Delivery Option</h6>
                <p class="proddesc">Delivery Cost</p>
              </div>
              <div class="proddetialname">
                <h6 class="prodtitle">Nationwide</h6>
                <p class="proddesc">$20</p>
              </div>
              <div class="proddetialname">
                <h6 class="prodtitle">International</h6>
                <p class="proddesc">$35</p>
              </div>
            </div>
          </div>
          <div class="button_dv">
            <button type="" class="btn">Save Changes</button>
            <button type="" class="btn grey_btn">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <app-seller-footer></app-seller-footer> -->