<div *ngIf="isOpenModal" class="modal custom-modal modal-width orderView-Modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title text-center">Change Password</h2>
        <fa-icon [icon]="faTimesCircle" class="modal-close" (click)="closeModal()"></fa-icon>
      </div>
      <div class="modal-body">
        <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <input formControlName="currentPassword" type="password" id="currentPassword" class="form-control"
              placeholder="Current Password" />
          </div>
          <div class="form-group">
            <input formControlName="password" type="password" id="password" class="form-control"
              placeholder="Password" />
          </div>
          <div class="form-group">
            <input formControlName="confirmPassword" type="password" id="confirmPassword" class="form-control"
              placeholder="Confirm Password" />
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-success btn-SaveProfile" [disabled]="modalBtn">
              {{ modalBtn ? 'Loading..' : 'Submit' }}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>