<!-- chat-wrapper.component.html -->
<div class="d-block">
  <div class="container p-0">
    <h1 class="h3 mb-3">Messages</h1>
    <div class="card">
      <div class="row g-0">
        <!-- <app-list [currentChat]="currentChat" [isSeller]="isSeller" (updateCurrentChat)="fetchSingleChat($event)"></app-list> -->
        <!-- <app-message *ngIf="currentChat && currentChat.user_detail" [currentChat]="currentChat" [currentUser]="isSeller ? currentSellerUser : currentUser" [token]="token" (updateCurrentChat)="fetchSingleChat($event)" (fetchChatAgain)="fetchChats()"></app-message> -->
      </div>
    </div>
  </div>
</div>