<!-- thankyou.component.html -->

<div class="sellersignup_page">
  <!-- <app-header></app-header> -->

  <section class="thankyou">
    <div class="container">
      <div class="happyShopping">
        <h3 class="font-30 fw-600 pb-4">Thank you for Shopping</h3>
        <p class="pb-4">
          Your order details has been sent to your email address
        </p>
        <p>Order Id: {{ orderId }}</p>
        <p>Amount: {{ orderAmount }}</p>
        <p>Status: {{ orderStatus }}</p>
        <div class="button-group">
          <a routerLink="/" class="btn">
            Continue Shopping
          </a>
        </div>
      </div>
    </div>
  </section>
  <!--  -->
  <!-- <app-footer></app-footer> -->
</div>