/* Signin Css Start Here */
figure {
    padding: 0;
}

.signin {
    /* height: 100vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.signin .logoDv {
    padding-bottom: 70px;
}

.signin .SigninBox .head {
    padding-bottom: 25px;
}

.signin .SigninBox .head h4 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 0;
}

.signin .SigninBox .head h4 strong {
    font-weight: 700;
}

.signin .SigninBox .actionBtn {
    padding-bottom: 25px;
}

.signin .SigninBox .actionBtn p a {
    color: #8dc63f;
    padding-left: 5px;
}

.signin .SigninBox .actionBtn p a:hover {
    color: #262262;
}

.signin .SigninBox form {
    padding: 0 28%;
}

.signin .SigninBox form .form-group .form-control {
    border-radius: 50px;
    padding: 0px 30px;
    border: 1px solid #00000052;
    background: transparent;
}

signin .SigninBox form .form-group  select .custom-select {
    padding: 0px 30px;
    border: 1px solid #00000052;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
}

input.form-control:focus {
    border: 2px solid #8dc63f !important;
}

.signin .SigninBox form button {
    background: #262262;
    border: 0;
    color: #fff;
    padding: 12px 0px;
    border-radius: 50px;
    margin-bottom: 20px;
    width: 100%;
    font-weight: 500;
    font-size: 18px;
    transition: all 0.4s ease-in-out;
}

.signin .SigninBox form button:hover {
    background: #8dc63f;
    color: #000;
}

.signin .SigninBox .actionBtn2 {
    /* position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 30px; */
}

.signin .SigninBox .actionBtn2 p a {
    color: #8dc63f;
}

.signin .SigninBox .actionBtn2 p a:hover {
    color: #262262;
}

@media (max-width: 768px) {
    .signin .SigninBox form {
        padding: 0 10%;
    }

    .signin .SigninBox .head h4 {
        font-size: 20px;
    }
}

@media (max-width: 575px) {
    .signin .SigninBox form {
        padding: 0 0%;
    }
}

@media (max-width:480px) {
    .signin .logoDv {
        padding-bottom: 20px;
    }

    .signin .SigninBox .head h4 {
        font-size: 15px;
    }
}

/* Signin Css End Here */