body {
  background-color: #f9f9f9;
}
figure {
  padding: 0;
}
.setpper-step-container {
  padding-bottom: 0;
}
.signup-step-container{
	padding: 150px 0px;
	padding-bottom: 60px;
}
.wizard .nav-tabs {
  position: relative;
  margin-bottom: 0;
  border-bottom-color: transparent;
}
.wizard > div.wizard-inner {
  position: relative;
  margin-bottom: 50px;
  text-align: center;
}
.connecting-line {
  height: 2px;
  background: #e0e0e0;
  position: absolute;
  width: 65%;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 15px;
  z-index: 1;
}
.wizard .nav-tabs > li.active > a, .wizard .nav-tabs > li.active > a:hover, .wizard .nav-tabs > li.active > a:focus {
  color: #555555;
  cursor: default;
  border: 0;
  border-bottom-color: transparent;
}
span.round-tab {
  width: 30px;
  height: 30px;
  line-height: 30px;
  display: inline-block;
  border-radius: 50%;
  background: #E9E9E9;
  z-index: 2;
  position: absolute;
  left: 0;
  text-align: center;
  font-size: 16px;
  color: #A1A1A1;
  font-weight: 500;
}
span.round-tab i{
  color:#555555;
}
.wizard li.active span.round-tab {
  background: #8DC63F;
  color: #fff;
}
.wizard li.active span.round-tab i{
  color: #5bc0de;
}
.wizard .nav-tabs > li.active > a i{
	color: #0db02b;
}
.wizard .nav-tabs > li {
  width: 33%;
}
.wizard li:after {
  content: " ";
  position: absolute;
  left: 46%;
  opacity: 0;
  margin: 0 auto;
  bottom: 0px;
  border: 5px solid transparent;
  border-bottom-color: red;
  transition: 0.1s ease-in-out;
}
.wizard .nav-tabs > li a {
  width: 30px;
  height: 30px;
  margin: 20px auto;
  border-radius: 100%;
  padding: 0;
  background-color: transparent;
  position: relative;
  top: 0;
}
.wizard .nav-tabs > li a i{
	position: absolute;
  top: -15px;
  font-style: normal;
  font-weight: 400;
  white-space: nowrap;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 12px;
  font-weight: 700;
  color: #000;
}
.wizard .nav-tabs > li a:hover {
  background: transparent;
}
.wizard .tab-pane {
  position: relative;
  padding-top: 20px;
}
.wizard h3 {
  margin-top: 0;
}
.prev-step,
.next-step{
  font-size: 13px;
  padding: 8px 24px;
  border: none;
  border-radius: 4px;
  margin-top: 30px;
}
.next-step{
	background-color: #0db02b;
}
.skip-btn{
	background-color: #cec12d;
}
.step-head{
  font-size: 20px;
  text-align: center;
  font-weight: 500;
  margin-bottom: 20px;
}
.term-check{
	font-size: 14px;
	font-weight: 400;
}
.list-box{
	padding: 10px;
}
.signup-logo-header .logo_area{
	width: 200px;
}
.signup-logo-header .nav > li{
	padding: 0;
}
.signup-logo-header .header-flex{
	display: flex;
	justify-content: center;
	align-items: center;
}
.list-inline li{
    display: inline-block;
}
/* Step 1 Content Css Start Here */
.setpper-step-container .addressDetail {
  background: #fff;
  padding: 30px 30px;
  border-radius: 20px;
}
.setpper-step-container .addressDetail .head {
  padding-bottom: 20px;
  text-align: center;
}
.form-group .form-control {
  border: 1px solid #70707063;
  background: transparent;
  border-radius: 50px;
  padding: 15px 20px;
}
.form-group .form-control::placeholder {
  color: #24463891;
}
.form-group select.region {
  width: 100%;
  padding: 15px 20px;
  border-radius: 50px;
  border: 1px solid #70707063;
  color: #24463891;
  outline: none;
}
.form-group textarea {
  border-radius: 20px !important;
  height: 120px;
  resize: none;
}
.setpper-step-container .addressDetail .list-inline li {
  width: 100%;
}
.setpper-step-container .addressDetail .list-inline .default-btn.next-step {
  width: 100%;
  background: #8dc63f;
  font-size: 17px;
  font-weight: 600;
  color: #fff;
  width: 100%;
  border-radius: 50px;
}
/* Step 1 Css Start Here */

/* Step 2 Css Start Here */
.setpper-step-container .paymentInfo {
  background: #fff;
  padding: 30px 30px;
  border-radius: 20px;
}
.setpper-step-container .paymentInfo .head {
  padding-bottom: 20px;
}
.setpper-step-container .paymentInfo  .payment-cards .form-check input {
  opacity: 0;
}
.setpper-step-container .paymentInfo .payment-cards  .form-check input:checked ~ label.form-check-label figure {
  border: 4px solid #E7ADB3;
}
.setpper-step-container .paymentInfo .payment-cards .form-check  figure {
  padding: 3px 10px;
  border-radius: 8px;
}
.setpper-step-container .paymentInfo ul.list-inline li {
  width: 100%;
}
.setpper-step-container .paymentInfo ul.list-inline li button {
  width: 100%;
  background: #8dc63f;
  font-size: 17px;
  font-weight: 600;
  color: #fff;
  width: 100%;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}
.setpper-step-container .paymentInfo ul.list-inline li button:hover {
  background: #262262 !important;
}
/* Step 2 Css End Here */

/* Step 3 Content Css Start Here */
.setpper-step-container  .productsummary-info .topBaR {
  display: flex;
  justify-content: center;
  align-items: center;
}
.setpper-step-container  .productsummary-info .topBaR .iconDvv {
  position: absolute;
  right: 70px;
}
.setpper-step-container  .productsummary-info {
  background: #fff;
  padding: 26px 50px;
  border-radius: 15px;
}
.setpper-step-container  .productsummary-info .topBaR .headd h4 {
  margin-bottom: 0;
}
.setpper-step-container  .productsummary-info .addproduct {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 15px;
  border-bottom: 1px solid #7070703b;
}
.setpper-step-container  .productsummary-info .addproduct.lst {
  border: 0;
}
.setpper-step-container  .productsummary-info .addproduct .imgBox figure {
  margin: 0;
  /* border: 1px solid #707070; */
}
.setpper-step-container  .productsummary-info .shipment-Info {
  padding: 40px 0 0;
}
.setpper-step-container  .productsummary-info .shipment-Info .uerInfo {
  padding: 40px 0 20px;
  border-bottom: 1px solid #70707038;
}
.setpper-step-container  .productsummary-info .shipment-Info .uerInfo .info-flex {
  display: flex;
  align-items: flex-start;
  padding-bottom: 5px;
}
.setpper-step-container  .productsummary-info .shipment-Info .uerInfo .info-flex  .property {
  width: 80px;
}
.setpper-step-container  .productsummary-info .shipment-Info .uerInfo .info-flex h5 {
  font-size: 15px !important;
}
.setpper-step-container  .productsummary-info .billing-detail .topBaR {
  padding: 40px 0  20px;
}
.setpper-step-container  .productsummary-info .card-infoo {
  display: flex;
  align-items: center;
}
.setpper-step-container  .productsummary-info .card-infoo .img-box {
  min-width: 100px;
}
.setpper-step-container  .productsummary-info .card-infoo .img-box figure {
  margin-bottom: 0;
}
.setpper-step-container  .productsummary-info .card-infoo .card-number span {
  font-size: 13px;
}
.setpper-step-container  .productsummary-info .card-infoo .card-number input {
  border-radius: 0;
  background: transparent;
  color: #343A40;
  font-size: 18px;
  font-weight: 600;
  outline: none;
}
.setpper-step-container  .productsummary-info ul.list-inline li {
  width: 100%;
}
.setpper-step-container  .productsummary-info .next-step {
  background: #8dc63f;
  font-size: 17px;
  font-weight: 600;
  color: #fff;
  width: 100%;
  border-radius: 50px;
}
/* Order Summary Css Start Here */
.setpper-step-container  .OrderSummary {
  background: #fff;
}
.setpper-step-container  .OrderSummary .headingg {
  text-align: center;
}
.setpper-step-container  .OrderSummary {
  background: #fff;
  padding: 25px 40px;
  border-radius: 15px;
}
.setpper-step-container  .OrderSummary .order-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3px 0;
}
.setpper-step-container  .OrderSummary .order-flex h5 {
  font-size: 17px;
}
.setpper-step-container  .OrderSummary h5 {
  font-size: 17px;
}
.setpper-step-container  .OrderSummary .orderTotal .property h5 {
  color: #8dc63f;
  font-size: 20px;
}
.setpper-step-container  .OrderSummary .orderTotal {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 25px;
  border-top: 1px solid #C5C5C5;
}
.setpper-step-container  .OrderSummary .order_info {
  padding-bottom: 20px;
}

/* Order Summary Css End Here */
@media (max-width: 991px) {
  .setpper-step-container .wizard .productsummary-info .addproduct .name h5 {
    font-size: 14px;
    padding-left: 15px;
  }
}
@media (max-width: 768px) {
  .setpper-step-container .wizard .OrderSummary {
    margin-top: 15px;
  }
}
@media (max-width: 480px) {
  .setpper-step-container h2 {
    font-size: 30px;
    line-height: 40px;
  }
  .setpper-step-container .wizard .productsummary-info {
    padding: 60px 10px;
  }
  .setpper-step-container .wizard .productsummary-info .addproduct .name h5 {
    font-size: 14px;
    padding-left: 15px;
  }
  .setpper-step-container .wizard .productsummary-info .shipment-Info .uerInfo .info-flex .value h5 {
    text-align: end;
  }
  .setpper-step-container .wizard .productsummary-info .shipment-Info .uerInfo .info-flex {
    justify-content: space-between;
  }
  .setpper-step-container .payment-cards .form-check.form-check-inline {
    margin: 10px auto;
    display: table;
  }
}
/* Step 3 Content Css End Here */

@media (max-width: 425px) {
  .setpper-step-container .paymentInfo ul.list-inline li button {

    font-size: 12px;
   
  }
}
@media (max-width: 320px) {
  .setpper-step-container .productsummary-info {
    padding: 26px 8px;
  }
  .name .h5 {
    font-size: 12px;
}
.setpper-step-container .productsummary-info .next-step {
  font-size: 12px;
  
}
.setpper-step-container .OrderSummary {

  padding: 25px 16px;

}
}
