body {
    background-color: #f9f9f9;
}
.thankyou .happyShopping {
    background: #fff;
    padding: 60px 30px;
    width: 40%;
    margin: 0px auto;
    text-align: center;
}
.thankyou .happyShopping .button-group a.btn {
    background: #8DC63F;
    font-size: 18px;
    padding: 8px 30px;
    color: #fff;
    font-weight: 600;
    box-shadow: none;
    border-radius: 50px;
}
@media (max-width: 991px) {
    .thankyou .happyShopping {
        width: 100%;
    }
}